body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#result {
	font-size: 3em;
	font-family: 'calibri';
	flex-basis: 2em;
	text-align: center;
}